@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.clear {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    background-size: cover;
    color: white;
    height: 100vh;
    font-family: Roboto;

}

.main-heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;


}

.paragraph {
    text-align: center;
}

.read {
    font-weight: bold;

}

.h-center {
    text-align: center;
}

.button {
    background-color: orange;
    color: white;
    height: 36px;
    width: 75px;
    font-weight: bold;
    font-size: 16px;
}

.use {
    text-decoration: underline;
    text-align: center;


}
